---
layout: default
show_sidebar: false
---

<div class="columns is-multiline">
    <div class="column is-12">
        {{ page.content }}
    </div>

    {% if page.collection %}
        {% assign sorted_umslistings = site.[page.collection] | sort: page.sort %}
    {% else %}
        {% assign sorted_umslistings = site.umslistings | sort: page.sort %}
    {% endif %}

    {% for applist in sorted_umslistings %}
        <div class="column is-4-desktop is-6-tablet">
            <a href="{{ umslist.url | relative_url }}">
                <div style="border: 3px outset wheat" class="card">
                    {% if umslist.image %}
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{ umslist.image }}" alt="{{ umslist.title }}">
                            </figure>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <p class="title is-4">{{ umslist.title }}</p>
                        <p class="subtitle is-4">{{ umslist.subtitle }}</p></br>
                       <!--
                        <div style="float: left"><p>{% if umslist.download %}
                            <script>
                            function download_link() {
                                var bits = ["https://"];
                                bits.push("{{ umslist.download }}");
                                var url = bits.join("");
                                document.getElementById("dllink").setAttribute("href",url);
                                }
                                download_link();
                            </script>
                            <a id="dllink" href="#" class="download_btn" onclick="download_link();return true;"><i style="color: wheat" class="fas fa-download"></i> Download</a>
                            {% endif %}</p></div> -->
                        <div style="float: right"><p class="title is-5 has-text-right">{{ umslist.version }}</p></div></br></br>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
